<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>SPEECH-VS-PLAN</title>
    <link rel="stylesheet" href="./../css/form.css">
    <script src="./../js/form.js" defer></script>
</head>
<body>
    <div class="container">
        <div style="width: 100%;">
            <h1>Создание плана лекции</h1>
            <p>Здесь вы можете создать свой план лекции.</p>
            <div class="buttons-row">
                <button type="button" id="addStageBtn">Добавить этап</button>
                <button type="submit" id="submitBtn">Отправить</button>
                <a href="/step1"><button type="button" id="backBtn">Назад</button></a>
            </div>
        </div>

        <div id="stagesContainer" class="stages-container">
        </div>
    </div>
</body>
</html>