<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title>SPEECH-VS-PLAN</title>
    <link rel="stylesheet" href="./../css/start_window.css">
  </head>
  <body>
    <h1>SPEECH-VS-PLAN</h1>
    <p class="desc">Этот модуль предназначен для сравнения запланированного содержания лекции с тем что было реально сказано. Его задача – выделить пропущенные пункты плана, новые темы возникшие спонтанно, и наметить последующие действия (тесты, задания, методички) на основе фактической речи.</p>
    <button>Погнали!</button>
  </body>
</html>
