<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>SPEECH-VS-PLAN</title>
    <link rel="stylesheet" href="./../css/step_one.css">
</head>
<body>
    <div class="container">
        <h1 class="step-number">Шаг 1</h1>
        <h1 class="main-title">Загрузка файла</h1>
        <p>На первом шаге вам следует загрузить файл с планом вашей лекции. Если у вас нет файла, не беда. Нажмите на кнопку «Создать план», и она приведёт вас на страницу с формой для создания.</p>
        <div class="buttons-row">
            <a href="/lectures"><button type="button">Создать план</button></a>
            <a href="/upload-plan"><button type="submit" class="primary-btn">Загрузить файл</button></a>
        </div>
    </div>
</body>
</html>